.header
    background: url('../images/header-bg.jpg') no-repeat center center fixed
    background-size: cover
    color: white
    position: relative
    .container
        padding-top: 6rem
        padding-bottom: $marginSmall
        position: relative
        z-index: 2
    .site-logo
        position: absolute
        top: $marginSmall
        left: 50%
        transform: translateX(-50%)

.header__overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: $semiDark
    opacity: .8
    z-index: 1    

.header__h1
    border: 1px solid #ddd
    text-align: center
    padding: .5rem

.header__features
    @extend %center
    margin-bottom: $marginSmall

.header__contact-link
    @extend %center
    @extend %uppercase
    display: block