.services
    background: $semiDark

.services__box
    margin-bottom: $marginSmall

.services__box-heading
    font-weight: normal

.services__box-description
    font-size: .85rem
    color: #999

.services__box-link
    @extend %uppercase
    font-size: .85rem