mixin servicesBox(heading)
    .col-12
        .services__box
            .services__box-icon icon
            h3.services__box-heading= heading
            p.services__box-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro placeat asperiores, corporis perferendis ullam!
            a(href="#").services__box-link See details