include partials/sectionTopmost
include partials/servicesBox
include partials/projectsCarousel
include partials/logos
include partials/logosCarousel
include partials/member

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fusion landing page
        link(rel="stylesheet", href="./css/main.css")
    body
        header.header
            .header__overlay
            .container
                h1.header__h1.header__h1--xs.cap
                    | We are <span class="orange">Fusion</span>, we build things for human!
                p.header__features
                    | Strategy <span class="orange">|</span> Branding <span class="orange">|</span> Design
                .header__logo F
                a.header__contact-link(href="#") Get in touch
        section.services
            .container
                +sectionTopmost(
                    'Our services',
                    'We will take your business presence to a new level'
                )
                .row
                    +servicesBox('Strategy')
                    +servicesBox('Branding')
                    +servicesBox('Design')
        section.projects
            .container
                +sectionTopmost('Branding & Design')
                .row
                    .col-12
                        +projectsCarousel
        section.testimonials
            .container
                +sectionTopmost(
                    'Testimonials',
                    'We have worked with some amazing companies around the world'
                )
                +logos()
                +logosCarousel()
        section.team
            .container
                +sectionTopmost('Our team', 'Meet our amazing team')
                .row
                    .col-12
                        .founder
                            .founder__card
                                .founder__img
                                .founder__info
                                    p.founder__name Vincent Gardner
                                    p.founder__position Founder &amp; CEO
                            .founder__bio
                                | Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp; skill. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, tempora? Quas maxime voluptatum saepe reprehenderit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nam!
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product', true)

        script(src="js/jquery.min.js")
        script(src="js/popper.min.js")
        script(src="js/util.js")
        script(src="js/carousel.js")
        script(src="js/main.js")