include partials/sectionTopmost
include partials/carousel
include partials/logos
include mixins/servicesBox

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fusion landing page
        link(rel="stylesheet", href="./css/main.css")
    body
        header.header
            .header__overlay
            .container
                h1.header__h1.header__h1--xs.cap
                    | We are <span class="orange">Fusion</span>, we build things for human!
                p.header__features
                    | Strategy <span class="orange">|</span> Branding <span class="orange">|</span> Design
                .header__logo F
                a.header__contact-link(href="#") Get in touch
        section.services
            .container
                +sectionTopmost(
                    'Our services',
                    'We will take your business presence to a new level'
                )
                .row
                    +servicesBox('Strategy')
                    +servicesBox('Branding')
                    +servicesBox('Design')
        section.projects
            .container
                +sectionTopmost('Branding & Design')
                .row
                    .col-12
                        +carousel
        section.testimonials
            .container
                +sectionTopmost(
                    'Testimonials',
                    'We have worked with some amazing companies around the world'
                )
                +logos()

        script(src="js/jquery.min.js")
        script(src="js/popper.min.js")
        script(src="js/util.js")
        script(src="js/carousel.js")
        script(src="js/main.js")