include partials/head
include partials/sectionTopmost
include partials/serviceBoxes
include partials/projectsCarousel
include partials/logos
include partials/logosCarousel
include partials/members
include partials/addressBox
include partials/socialLinks

doctype html
html
    +head
    body
        header.header
            .header__overlay
            .container
                .site-logo F
                .row
                    .col-12
                        h1.header__h1.header__h1--xs.cap
                            | We are <span class="orange">Fusion</span>, we build things for human!
                    .col-12
                        p.header__features
                            | Strategy <span class="orange">|</span> Branding <span class="orange">|</span> Design
                    .col-sm-6
                        .site-logo.site-logo--big-screen F
                    .col-12.col-sm-6.link-container
                        a.header__contact-link(href="#") Get in touch <i class="icon-right"></i>
                    .col-12
                        i.header__angle-down.icon-angle-down
        section.services
            .container
                +sectionTopmost(
                    'Our services',
                    'We will take your business presence to a new level'
                )
                +serviceBoxes
        section.projects
            .container
                +sectionTopmost('Branding & Design')
                .row
                    .col-12
                        +projectsCarousel
        section.testimonials
            .container
                +sectionTopmost(
                    'Testimonials',
                    'We have worked with some amazing companies around the world'
                )
                +logos()
                +logosCarousel()
        section.team
            .container
                +sectionTopmost('Our team', 'Meet our amazing team')
                .row
                    .col-12.col-md-8.col-lg-3
                        .founder
                            .founder__card
                                img.founder__img(src='images/vincent-gardner.png')
                                .founder__info
                                    p.founder__name Vincent Gardner
                                    p.founder__position Founder &amp; CEO
                            .founder__bio
                                | Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp; skill. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, tempora? Quas maxime voluptatum saepe reprehenderit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nam!
                    +members()
        section.contact
            .container
                +sectionTopmost('Contact us', 'Lets talk about your business')
                .row
                    .col-12
                        form
                            .form-row
                                .form-group.col-12.col-sm-6
                                    label(for="name") Your Name:
                                    input#name.form-control(type="text")
                                .form-group.col-12.col-sm-6
                                    label(for="email") Your Email:
                                    input#email.form-control(type="email")
                            .form-row
                                .form-group.col-12.col-sm-6
                                    label(for="company") Company:
                                    input#company.form-control(type="text")
                                .form-group.col-12.col-sm-6
                                    label(for="subject") Subject:
                                    input#subject.form-control(type="text")
                            .form-row
                                .form-group.col-12
                                    label.ta-label(for="message") Message:
                                    textarea#message.form-control
                            .form-row
                                button(type="submit") Get in touch <i class="icon-right"></i>
        footer
            .container
                .row
                    .col-12.col-lg-2
                        .site-logo F
                    .col-12.col-sm-6.col-lg-3
                        +addressBox(
                            'California Office',
                            '4243 Woodland Terrace',
                            'Sacramento, CA 95814',
                            '916 753 2645'
                        )
                    .col-12.col-sm-6.col-lg-3
                        +addressBox(
                            'New York Office',
                            '885 Oakwood Avenue',
                            'New York, NY 10013',
                            '212 660 0744'
                        )
                    .col-12.col-lg-3
                        .other-contacts
                            h4.upper Other contacts
                            p.other-contacts__line jobs@templateocean.com
                            +socialLinks

        script(src="js/jquery.min.js")
        script(src="js/popper.min.js")
        script(src="js/util.js")
        script(src="js/carousel.js")
        script(src="js/main.js")