include partials/head
include partials/sectionTopmost
include partials/servicesBox
include partials/projectsCarousel
include partials/logos
include partials/logosCarousel
include partials/member
include partials/addressBox
include partials/socialLinks

doctype html
html
    +head
    body
        header.header
            .header__overlay
            .container
                .site-logo F
                .row
                    .col-12
                        h1.header__h1.header__h1--xs.cap
                            | We are <span class="orange">Fusion</span>, we build things for human!
                    .col-12
                        p.header__features
                            | Strategy <span class="orange">|</span> Branding <span class="orange">|</span> Design
                    .col-12
                        a.header__contact-link(href="#") Get in touch <i class="icon-right"></i>
                    .col-12
                        i.header__angle-down.icon-angle-down
        section.services
            .container
                +sectionTopmost(
                    'Our services',
                    'We will take your business presence to a new level'
                )
                .row
                    +servicesBox('Strategy')
                    +servicesBox('Branding')
                    +servicesBox('Design')
        section.projects
            .container
                +sectionTopmost('Branding & Design')
                .row
                    .col-12
                        +projectsCarousel
        section.testimonials
            .container
                +sectionTopmost(
                    'Testimonials',
                    'We have worked with some amazing companies around the world'
                )
                +logos()
                +logosCarousel()
        section.team
            .container
                +sectionTopmost('Our team', 'Meet our amazing team')
                .row
                    .col-12
                        .founder
                            .founder__card
                                .founder__img
                                .founder__info
                                    p.founder__name Vincent Gardner
                                    p.founder__position Founder &amp; CEO
                            .founder__bio
                                | Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp; skill. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, tempora? Quas maxime voluptatum saepe reprehenderit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nam!
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product')
                    +member('', 'Danna Watson', 'VP of Product', true)
        section.contact
            .container
                +sectionTopmost('Contact us', 'Lets talk about your business')
                .row
                    .col-12
                        form
                            .form-row
                                .form-group.col-12.col-md-6
                                    input.form-control(type="text", placeholder="Your Name")
                                .form-group.col-12.col-md-6
                                    input.form-control(type="email", placeholder="Your Email")
                            .form-row
                                .form-group.col-12.col-md-6
                                    input.form-control(type="text", placeholder="Company")
                                .form-group.col-12.col-md-6
                                    input.form-control(type="text", placeholder="Subject")
                            .form-row
                                .form-group.col-12
                                    textarea.form-control(placeholder="Message")
                            .form-row
                                button(type="submit") Get in touch
        footer
            .container
                .row
                    .col-12
                        .site-logo F
                    .col-12
                        +addressBox(
                            'California Office',
                            '4243 Woodland Terrace',
                            'Sacramento, CA 95814',
                            '916 753 2645'
                        )
                    .col-12
                        +addressBox(
                            'New York Office',
                            '885 Oakwood Avenue',
                            'New York, NY 10013',
                            '212 660 0744'
                        )
                    .col-12
                        .other-contacts
                            h4.upper Other contacts
                            p.other-contacts__line jobs@templateocean.com
                            +socialLinks

        script(src="js/jquery.min.js")
        script(src="js/popper.min.js")
        script(src="js/util.js")
        script(src="js/carousel.js")
        script(src="js/main.js")