doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Fusion landing page
        link(rel="stylesheet", href="./css/main.css")
    body
        header.header
            .header__overlay
            .container
                h1.header__h1.header__h1--xs.cap
                    | We are <span class="orange">Fusion</span>, we build things for human!
                p.header__features
                    | Strategy <span class="orange">|</span> Branding <span class="orange">|</span> Design
                .header__logo F
                a.header__contact-link.upper(href="#") Get in touch