mixin addressBox(heading, lineOne, lineTwo, number)
    .address-box
        h4.address-box__heading= heading
        p.address-box__line= lineOne
        p.address-box__line= lineTwo
        p.address-box__line= number