-
    var testimonials = [
        {
            name: 'John Doe',
            position: 'VP of Products, VISA',
            image: 'source',
            testimonial: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deleniti unde voluptates ut eaque! At quidem numquam itaque soluta culpa iure quis aspernatur saepe voluptas asperiores nemo molestias, et, optio cum sed iste mollitia maxime! Eaque magnam similique eum quam.`
        }
    ]

mixin logosCarousel()
    .row
        #logosCarousel.carousel.slides
            ol.carousel-indicators
            
            .carousel-inner