-
    var members = [
        {name: 'Danna Watson', position: 'VP of Product', imgName: 'danna-watson'},
        {name: 'Johnathan Smith', position: 'Designer of Product', imgName: 'john-smith'},
        {name: 'Joana Doe', position: 'Developer of Product', imgName: 'joana-doe'},
        {name: 'Anthony Bricks', position: 'Sales Manager', imgName: 'tony-bricks'},
        {name: 'John Doe', position: 'Consultant', imgName: 'john-doe'},
        {name: 'Lisa Smiths', position: 'Web Designer', imgName: 'lisa-smiths'},
        {name: 'Jasmin Jastin', position: 'Web Developer', imgName: 'jasmin-jastin'}
    ]

mixin members()
    each val, index in members
        .col-12
            .member(class=index+1==members.length?'mb-0':'')
                img.member__img(src=`images/${members[index].imgName}.png`)
                p.member__name= members[index].name
                p= members[index].position