mixin sectionTopmost(sectionName, sectionTitle)
    .row
        .col-12
            .v-line
        .col-12
            .section-name= sectionName
        if sectionTitle
            .col-12
                h2.section-title= sectionTitle